<?xml version='1.0' encoding='utf-8'?>

<widget
    id="org.myboard.quality"
    version="1.0.2"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>Quality</name>

    <description>LEONI Quality Application</description>

    <author>elkhayat.dev</author>

    <content src="index.html" />

    <access origin="*" />

    <allow-navigation href="https://quality.my-board.org/*" />

    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="AndroidLaunchMode" value="singleTask" />
    <preference name="AndroidXEnabled" value="true" />

    <platform name="android">

        <icon src="res/icon/icon.png" />

        <preference
            name="AndroidWindowSplashScreenAnimatedIcon"
            value="res/icon/icon.png" />

        <preference
            name="AndroidWindowSplashScreenBackground"
            value="#FFFFFF" />

        <preference
            name="AndroidWindowSplashScreenAnimationDuration"
            value="1000" />

    </platform>

</widget>
